:root {
    /* LightMode */
    --black-olive: #404A46ff;
    --green-pigment: #1C9941ff;
    --whitegreen: #E6F5E5;
    --yellow: #C8D92Bff;
    --middle-green-yellow: #B4C057ff;
    --russian-green: #70937Bff;
    --ash-gray: #CDD9C9ff;
    --baby-powder: #F8FAF8ff;
    --eton-blue: #89C99Bff;
    --font-menu: 'Barlow', sans-serif;
    /* DarkMode */
    /* --tea-green: #d7ecc1;
    --laurel-green: #bacaa4;
    --artichoke: #9da786;
    --artichoke-a9: #9da786a9;
    --ebony: #62624a;
    --acid-green: #b6c825;
    --green-pigment: #1c9941;
    --green-pigment-4d:#1c99414d;
    --cadmium-green: #115f28;
    --cadmium-green-9d: #115f289d;
    --eerie-black: #171717; */
}

* {
    Box-sizing: border-box;
    Padding: 0 0;
    Margin: 0 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    list-style: none;
    margin: 0px 0px;
}

header nav {
    background: var(--whitegreen);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0vw 2vw 0vw 2vw;
    
    /* color: var(--black-olive); */
    font-family: var(--font-menu);
    font-weight: 400;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 3vw;
    text-transform: uppercase;
    
}
.menu>ul>li {
    padding: 1vw 1vw 1vw;
    justify-content: center;
    color: var(--russian-green);
}
.menu>ul>li>a {
    padding: 1vw 1vw 1vw;
    color: var(--russian-green);
}
.menu>ul>li:hover {
    background: var(--green-pigment);
    color: var(--baby-powder);
    transition-property: all;
    transition-duration: 0.7s;
}
.menu>ul>li:hover >a {
    color: var(--baby-powder);
}
ul.submenu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -4vw;
    top: calc(2vw + 19px);
    left: -3vw;
    width: max-content;
    background: var(--whitegreen);
}
#portfolio {
    position: relative;
    padding: 1vw 1vw 1vw;

    /* display: flex;
    align-items: stretch; */    
}
#portfolio:hover> ul.submenu {
    opacity: 1;
    visibility: visible;
    transition-property: all;
    transition-duration: 0.7s;
}
li.submenu {
    padding: 2vw 2vw;
    color: var(--russian-green);
}
li.submenu a {
    padding: 1.5vw 2vw;
    color: var(--russian-green);
}
li.submenu:hover {
    background: var(--green-pigment);
    transition-property: all;
    transition-duration: 0.7s;
}
li.submenu:hover>a {
    color: var(--baby-powder);
}
main {
    width: 100vw !important;
    height: 70vh;
}
section.login {
    display: none;
    justify-content: center;
    align-items: center;
}
.if-login {
    width: fit-content;
    height: 506px;
}
ul.login {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(2vw + 19px);
    left: -2vw;
    width: max-content;
    
    background: var(--whitegreen);
}
#contacto {
    position: relative;
}
li#contacto:hover>ul.login {
    visibility: visible;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.7s;
    
}
li.login-li {
    padding: 2vw 2vw;
    color: var(--russian-green);
}
li.login-li a {
    padding: 1.5vw 3vw 1.5vw 1vw;
    color: var(--russian-green);
}
li.login-li:hover {
    background: var(--green-pigment);
    transition-property: all;
    transition-duration: 0.7s;
}
li.login-li:hover>a {
    color: var(--baby-powder);
}
