
* {
box-sizing: border-box;
margin: 0 0;
padding: 0 0;
}
a {
    text-decoration: none;
}
.iniciar-sesion {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    width: 300px;
    height: max-content;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: #fdf3f3;
    border-width: 5px;    
    padding: 20px 20px 30px;
    row-gap: 19px;
}
.logo {    
    background: rgb(145 209 185);
    border-radius: 50%;
    text-align: center;
    width: 37%;
    padding: 21px 22px; 
}
.iniciar-sesion img {
    border-style: none;
    width: 100%;    
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(160%) contrast(160%);
}
.iniciar-sesion div, .iniciar-sesion form {
    text-align: center;
}
.iniciar-sesion h2 {
    font-family: sans-serif;
    color: #646464;
    font-weight: 100;
    font-size: 28px;
}

input[type=email] {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    padding: 20px 15px;
    border-color: #bdb7b7;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
}
input[type=password] {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    padding: 20px 15px;
    border-color: #bdb7b7;
    border-style: solid;
    border-width: 1px;

}
.submit {
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(0, 0, 78);
    color: white;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 15px;
}
.forgot {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0); 
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
    color: rgb(112, 112, 112);
    border-radius: 20px;
    font-size: 11px;
}
